/* google font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');



:root {
    --color-primary: rgb(241, 138, 42);
    --color-secondary: rgb(250, 91, 12);
    --font-heading: crimson;
    --para-font: #777777;
    --black: #222222;
    --bg: rgba(237, 28, 70);
    --color-b: rgb(250, 91, 12);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    background-color: black;
}

.content {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(4,9,30,0.7),rgb(4,9,30,0.7)), url(img/home.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    
    /* float: right; */
}

section {
    padding: 8rem 7%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    box-shadow: 0 5px 10px rgb(95, 51, 4);;
}
/* .header{
    box-shadow: 0 5px 10px rgb(95, 51, 4);
} */
.header a {
    font-size: 24px;
    font-weight: 20px;
    /* height: 4.5rem; */
    color: var(--color-primary);
    text-transform: uppercase;
}
.header .logo{
    height: 3.5rem;
}

nav .links a {
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-right: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: relative;

}

nav .links a:after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--color-primary);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s;
}

nav .links a:hover::after {
    width: 100%;
    /* color: var(--color-secondary); */
}

nav #menu-btn,
nav #close {
    color: var(--color-b);
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}

.header .content {
    padding: 150px 7%;
    color: var(--color-b);
    /* text-align: center; */
}

.header .content h3 {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 3rem 0;
}

.header .content h1 {
    font-size: 5rem;
    letter-spacing: 2px;
}

.btn {
    padding: 1.3rem 5rem;
    margin: 3rem 0;
    cursor: pointer;
    color: var(--color-b);
    font-size: 1.4rem;
    font-weight: 500;
    border: 0.3rem solid var(--color-primary);
    border-radius: 7px;
    background: none;
    transition: all linear 0.5s;

}

.btn:hover {
    background: var(--para-font);
    color: var(--color-b);
    transform: translate(0px, -3px);
}


.nav-change {
    background: rgba(0, 0, 0, 0.9);
}

.about .container {
    display: flex;
    justify-content: space-between;
}


.about .container .image {
    flex-basis: 50%;
    background: url(img/recently-salmon-sushi.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 16rem 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgb(195, 193, 193);
}

.about .container .about-content {
    flex-basis: 40%;
}

.about .container .about-content h1 {
    font-size: 4rem;
    color: var(--color-primary);
    padding: 1rem 0;
}

.about .container .about-content h3 {
    color: var(--color-b);
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1rem 0;
}

.about .container .about-content p {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--color-b);
    line-height: 1.5;
}
/* .about .container .about-content button{
    font-size: 1.5rem;
    color: var(--color-b);

} */

.heading {
    font-size: 5rem;
    text-align: center;
}

.heading span {
    color: var(--color-primary);
}

.heading-description {
    color: var(--color-primary);
    text-align: center;
    padding: 1.3rem 0;
    font-size: 1.6rem;
    font-weight: 300;
}

.review .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 2rem;
    padding: 2.5rem 0;
}

.review .container .post {
    border: 0.2rem solid var(--color-primary);
    border-radius: 10px;
    height: auto;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px grey;
    transition: 0.4s linear all;
}

.review .container .post:hover {
    transform: translate(0px, -5px);
}

.review .container .post .review-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.review .container .post .review-img img {
    width: 100%;
    height: auto;
}

.review .container .post .review-content {
    padding: 2rem;
}

.review .container .post .review-content h3 {
    font-size: 1.6rem;
    padding: 1.3rem 0;
    letter-spacing: 0.1rem;
}

.review .container .post .review-content h3 span {
    color: var(--color-primary);
}

.review .container .post .review-content h1 {
    font-size: 2rem;
    color: #928a8a;
    padding-bottom: 2rem;
}

.review .container .post .review-content p {
    font-size: 1.4rem;
    color: var(--para-font);
}

.review .container .post:hover img {
    transform: scale(1.1);
}

.review .container .post .review-img span {
    position: absolute;
    background: var(--color-primary);
    bottom: 5%;
    right: 5%;
    padding: 1.2rem 1.4rem;
    color: var(--black);
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
}


.dishes .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 2rem;
    padding: 2.5rem 0;
    grid-row-gap: 4rem;
}

.dishes .container .dishes-box {
    background: var(--color-b);
    height: auto;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(179, 179, 179, 0.2);
    padding-bottom: 3rem;
    border-radius: 10px;
}

.dishes .container .dishes-box img {
    width: 100%;
    border-radius: 10px;
}

.dishes .container .dishes-box .dishes-content {
    padding: 1.5rem;
}

.dishes .container .dishes-box .dishes-content h3 {
    font-size: 2.5rem;
    padding: 1.3rem 0;
}

.dishes .container .dishes-box .dishes-content p {
    font-size: 1.6rem;
    padding: 1.3rem 0;
    font-weight: 400;
    color: var(--black);
}
.dishes .container .dishes-box .dishes-img span {
    position: absolute;
    background: var(--color-primary);
    bottom: 5%;
    right: 5%;
    padding: 1.2rem 1.4rem;
    color: var(--black);
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
}

.dishes .container .dishes-box:hover {
    transform: translateY(-1rem);
}
/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    padding: 2.5rem 0;
}
.contact .container .contact-box {
    border: 0.2rem solid var(--color-primary);
    border-radius: 1rem;
    padding: 2rem;
    cursor: pointer;
}
.contact .container .contact-box div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;
    color: var(--color-primary);
}
.contact .container .contact-box div i {
    width: 4rem;
    height: 4rem;
    background: var(--color-primary);
    color: var(--black);
    text-align: center;
    font-size: 1.3rem;
    line-height: 4rem;
    border-radius: 100%;
}
.contact .container .contact-box div h2 {
    font-size: 1.8rem;
}
.contact .container .contact-box div h2 span {
    font-weight: 300;
}
.contact .container .contact-box div p {
    font-size: 1.5rem;
}
.contact .container .contact-box:hover {
    background: #686a6f;
    color: var(--white);
}

.footer {
    width: 100%;
    height: 10%;
    background: linear-gradient(rgb(4,9,30,0.7),rgb(4,9,30,0.7)),url(./img/home-sushi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5rem;
    position: relative;
}
.footer:before {
    content: "";
    position: absolute;
    inset: 0;
  }  

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    padding: 2.5rem 0;
}

.footer .container .footer-box {
    padding: 1rem;
    margin-bottom: 10px;
}

.footer .container .footer-box h3 {
    color: var(--color-b);
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
}

.footer .container .footer-box p {
    color: var(--color-b);
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    padding: 1.2rem 0;
    /* position: center; */
    /* margin-top: 1rem; */
    /* padding-top: 10rem; */
}
.footer .footer-legal .copyright {
    color: var(--para-font);
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    position: absolute;
}
.footer .footer-legal .credits {
    padding-top: 4px;
    font-size: 13px;
    color: #fff;
}
  
  .footer .footer-legal .credits a {
    color: var(--color-primary);
}
.footer .container .footer-box form input {
    width: 70%;
    padding: 1rem;
}

.footer .container .footer-box p a {
    color: var(--color-primary);
}

.footer .container .footer-box form button {
    background: var(--color-primary);
    color: var(--black);
    padding: 1rem;
    cursor: pointer;
}

.footer .container .footer-box div a {
    margin: 0.5rem;
    color: var(--black);
    display: inline-block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background: var(--color-primary);
}


@media only screen and (max-width: 991px) {
    html {
        font-size: 55%;
    }

    nav {
        padding: 3rem 3rem;
    }

    .content {
        text-align: center;
    }
}


@media only screen and (max-width: 768px) {


    nav #menu-btn {
        display: inline-block;
    }

    nav .links {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: var(--color-primary);
        transition: 0.5s;
        background: black;
    }

    nav .links a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--color-primary);
        text-align: center;
    }

    .about .container {
        flex-direction: column;
    }

    .about .container .about-content {
        text-align: center;
    }
}